<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxy.bil.dao.IAnswerDao">
    <insert id="insertAnswer" parameterType="com.zxy.bil.pojo.Answer">
		insert into tbl_answer(
		answer,
		question_id,
		remote_addr,
		real_ip
		)
		values (
		#{answer.answer},
		#{answer.questionId},
		#{answer.remoteAddr},
		#{answer.realIp}
		)
	</insert>

</mapper>